$pink-000: #f77ef1;
$pink-100: #f967f1;
$pink-200: #e94ee1;
$pink-300: #dd2cd4;

$cyan-000: #99e6ff;
$cyan-100: #80dfff;
$cyan-200: #66d9ff;
$cyan-300: #4dd2ff;

$orange-000: #ffcc99;
$orange-100: #ffbf80;
$orange-200: #ffb366;
$orange-300: #ffa64d;
